
.isHidden
	display: none

.card .card-image img
	height: 600px

.card-content
	height: 170px


span
	font-size: 1.2em

.rating > span:hover::before
	content: "\2605"
	position: absolute
	color: #ffca1c

.selectedStar::before
	content: "\2605"
	position: absolute
	color: #ffca1c

.hidden
	display: none

.card-title
	color: burlywood
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
	font-weight: bolder
